<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <div id="contactDisplay">
        <ul id="contacts"></ul>
    </div>

    <form id="saveContactForm" method="post" style="margin-left: 20px">
        <h3>Create a new Contact</h3>
        <p>
            <label for="contactId">Contact Id:</label>
            <input type="text" name="Id" onchange="idValidation()" />
        </p>
        <p>
            <label for="contactFirstName">First Name:</label>
            <input type="text" name="FirstName" />
        </p>
        <p>
            <label for="contactLastName">Last Name:</label>
            <input type="text" name="LastName" />
        </p>
        <p>
            <label for="contactEmail">Email:</label>
            <input type="email" name="Email" />
        </p>
        <p>
            <label for="contactPhoneNumber">Contact Phone Number:</label>
            <input type="text" name="PhoneNumber" />
        </p>
        <p>
            <select>
                <option value="active">active</option>
                <option value="inactive">inactive</option>
            </select>
        </p>
        <input type="button" id="saveContact" value="Save"  onclick="myFunction()" />
    </form>
</div>
@section scripts{
    <script>
        $(function () {
            $.getJSON('api/contact', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (index, item) {
                    $('#contacts').append('<li id="' + "contact" + item.Id + '">' + item.FirstName + ' ' + item.LastName + '</li>' +
                        '<input type="button" id="' + item.Id + '" value="Delete" />');
                });
            });
        });

        //$('#saveContact').click(function () {
        //    $.post('api/contact', $('#saveContactForm').serialize(),
        //        function (value) {
        //            $('#contacts').append(' <li class="contact"' + value.Id + '>' + value.FirstName + ' ' + value.LastName + '</li>' + '  ' +
        //                '<input type="button" id="' + value.Id + '" value="Delete" />');
        //        },
        //        "json"
        //    );
        //    //var formValues = document.getElementById("saveContactForm");
        //    //formValues[0].form.reset();
            
        //});
        $('#contactDisplay').on("click", "input", function () {
            var contactId = $(this).attr('id');
            $("#contact" + contactId).remove();
            $("#" + contactId).remove();
        });
        
        function idValidation() {
            debugger;
            var id = document.getElementsByName("Id")[0].value;
            $(function () {
                $.getJSON('api/contact', function (contactsJsonPayload) {
                    contactsJsonPayload.map(function (value, index) {
                        debugger;
                        if (value.Id == id) {
                            alert("ID is already present");
                           return document.getElementsByName("Id")[0].value=""
                        }
                        
                    });
                });
            });


        }

        function myFunction() {
            var formValues = document.getElementById("saveContactForm");
            var flag=true;
           var ak= Object.values(formValues).map(function (v, i) {
                if (v.name === "Id") {
                    var reg = new RegExp('^[0-9]$');
                    if (!reg.test(v.value) ||  !v.value) {   
                        alert("Contact ID should contain only numbers");
                        v.value = "";
                       return flag = false;
                    }
                        
                }
                else if (v.name === "FirstName") {
                    var reg = /^[a-zA-Z ]*$/;
                    if (!reg.test(v.value) || !v.value) {
                        alert("FirstName should contain only alphabets");
                        v.value = "";
                        return flag = false;
                    }
                        
                }
                else if (v.name === "LastName") {
                    var reg = /^[a-zA-Z ]*$/;
                    if (!reg.test(v.value) || !v.value) {
                        alert("LastName should contain only alphabets");
                        v.value = "";
                        return flag = false;
                    }    
                }
                else if (v.name === "PhoneNumber") {
                    var reg = /^\d{10}$/;
                    if (!reg.test(v.value) || !v.value) {
                         alert("PhoneNumber should be of 10 digits");
                        v.value = "";
                        return flag = false;
                    }
                    
                }
               
                return flag;
            })
           if (flag) {
               (function () {
                   $.post('api/contact', $('#saveContactForm').serialize(),
                       function (value) {
                           $('#contacts').append(' <li class="contact"' + value.Id + '>' + value.FirstName + ' ' + value.LastName + '</li>' + '  ' +
                               '<input type="button" id="' + value.Id + '" value="Delete" />');
                       },
                       "json"
                   );
                   var formValues = document.getElementById("saveContactForm");
                   formValues[0].form.reset();

               })();
           }
        }
        $('#contactDisplay').on("click", "input", function () {
            var contactId = $(this).attr('id');
            $("#contact" + contactId).remove();
            $("#" + contactId).remove();
        });
    </script>
}