<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Evolent Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <div id="contactDisplay">
        <ul id="contacts"></ul>
    </div>
    @section scripts{
    <script src="~/Scripts/DisplayContacts.js"></script>
    <script src="~/Scripts/AddContact.js"></script>
    <script src="~/Scripts/RemoveContact.js"></script>
}
    <form id="saveContactForm" method="post" style="margin-left: 20px">
        <h3>Create a new Contact</h3>
        <p>
            <label for="contactId">Contact Id:</label>
            <input type="text" name="Id" onchange="idValidation()" />
        </p>
        <p>
            <label for="contactFirstName">First Name:</label>
            <input type="text" name="FirstName" />
        </p>
        <p>
            <label for="contactLastName">Last Name:</label>
            <input type="text" name="LastName" />
        </p>
        <p>
            <label for="contactEmail">Email:</label>
            <input type="email" name="Email" />
        </p>
        <p>
            <label for="contactPhoneNumber">Contact Phone Number:</label>
            <input type="text" name="PhoneNumber" />
        </p>
        <p>
           <label for="Status">Status:</label>
            <input type="text" name="status" />
        </p>
        <input type="button" id="saveContact" value="Save"  onclick="myFunction()" />
    </form>
</div>

